In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive 
drive.mount('/content/drive/', force_remount=True)

Mounted at /content/drive/

# Feature Engineering

In [3]:
train = pd.read_csv("/content/drive/My Drive/Sp22 SAAS Education Committee/Notebooks/train.csv")
X_train = train.drop(['totalyearlycompensation'], axis = 1)
y_train = train.loc[:,'totalyearlycompensation']
X_train 

##Practice Exercise
#We can also filter out the columns that are not of type int or float

,Unnamed: 0,timestamp,company,level,title,location,yearsofexperience,yearsatcompany,tag,stockgrantvalue,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,0,3/28/2021 15:48:22,Ernst and Young,Senior Consultant,Management Consultant,"Atlanta, GA",2.0,0.0,Data & Analytics Consulting,0.0,...,0,0,0,0,0,0,0,1,Hispanic,Master's Degree
1,1,4/3/2021 18:41:29,Deloitte,Senior Manager,Management Consultant,"Baltimore, MD",15.0,4.0,General,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,2,2/2/2021 13:05:18,Amazon,L4,Software Engineer,"New York, NY",2.0,0.0,API Development (Back-End),29000.0,...,0,0,0,0,1,0,0,0,White,Bachelor's Degree
3,3,7/19/2021 1:37:17,Oracle,IC-2,Software Engineer,"Redwood City, CA",1.0,1.0,Distributed Systems (Back-End),65000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
4,4,3/29/2021 21:27:36,Wayfair,L3,Software Engineer,"Boston, MA",9.0,0.0,API Development (Back-End),12000.0,...,0,0,0,1,0,0,0,0,Asian,Bachelor's Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50108,50108,4/8/2021 18:31:10,Scribd,L5,Software Engineer,"San Francisco, CA",12.0,1.0,ML / AI,10000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
50109,50109,11/27/2019 19:36:11,Salesforce,Lead MTS,Software Engineer,"Washington, DC",10.0,0.0,Testing (SDET),39000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
50110,50110,8/16/2021 9:37:21,Airbnb,L4,Software Engineer,"San Francisco, CA",6.0,0.0,API Development (Back-End),91000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
50111,50111,7/30/2020 11:11:52,Houzz,L3,Software Engineer,"Palo Alto, CA",2.0,2.0,Full Stack,75000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
50112,50112,8/11/2020 13:59:23,Cisco Systems,Grade 8,Business Analyst,"San Jose, CA",6.0,6.0,DevOps,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN

#**Modeling**

## Validation and Evaluation

In [6]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.2, random_state=42)

def rmse(y_true, y_pred):
  return mean_squared_error(y_true, y_pred)**0.5

X_val

,Unnamed: 0,timestamp,company,level,title,location,yearsofexperience,yearsatcompany,tag,stockgrantvalue,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
44815,44815,1/21/2019 9:09:43,Amazon,L5,Software Engineer,"Boston, MA",3.0,0.0,ML / AI,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
9239,9239,11/30/2019 15:05:24,Netflix,Senior Software Engineer,Software Engineer,"Los Gatos, CA",9.0,0.0,Distributed Systems (Back-End),22000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
18244,18244,10/1/2019 14:55:17,Apple,ICT5,Software Engineer,"Cupertino, CA",12.0,9.0,iOS,100000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
48472,48472,7/3/2020 12:37:23,Facebook,E5,Software Engineer,"New York, NY",12.0,0.0,Web Development (Front-End),150000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
47191,47191,7/24/2020 10:21:33,Deloitte,Consultant,Management Consultant,"Dallas, TX",6.0,1.0,Supply Chain,0.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33111,33111,2/4/2020 8:24:58,Google,L3,Software Engineer,"Sunnyvale, CA",3.0,1.0,Android,45000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
13928,13928,5/4/2020 22:44:40,Google,L7,Software Engineer,"Sunnyvale, CA",11.0,5.0,Security,545000.0,...,1,0,0,0,0,0,0,0,NaN,PhD
1217,1217,7/14/2021 16:14:36,Microsoft,64,Software Engineer,"Kirkland, WA",10.0,6.0,Mobile (iOS + Android),24000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
978,978,6/20/2021 18:33:05,Intel,Grade 7,Hardware Engineer,"Santa Clara, CA",8.0,8.0,ML / AI,5000.0,...,0,0,0,1,0,0,0,0,Asian,Master's Degree
14680,14680,5/2/2019 12:35:13,Oracle,IC-3,Software Engineer,"Burlington, MA",7.0,2.0,Distributed Systems (Back-End),70000.0,...,0,0,0,0,0,0,0,0,NaN,NaN

K-Fold Cross Validation

In [ ]:
#Complete this as an exercise

### Linear Regression

In [8]:
from sklearn.linear_model import LinearRegression 
model = LinearRegression()

Years of Experience and Total Yearly Compensation

In [9]:
model.fit(X = train[['yearsatcompany']],y = train['totalyearlycompensation'])
model.score(X = train[['yearsatcompany']],y = train['totalyearlycompensation'])

0.02605612468647267

Years at Company and Total Yearly Compensation

In [ ]:
#Complete this as an exercise

# Regularized Regression

Fit a LASSO regression model to data with lambda = 1

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
#Complete this as an exercise